.App {
  text-align: justify;
}

.App-header {
  background-color: #282c34;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scout {
  text-align: center;
}

.badges {
  text-align: center;
  padding: 10px 50px 10px 50px;
  width: 95%;
}